<div class="sliderContainer">
    <carousel [images]="listToSlide" [height]="screenHeight*0.18" [width]="screenWidth*0.90" [cellWidth]="cellWidth"
        [cellsToShow]="cellsToShow" [cellsToScroll]="cellsToScroll" [loop]="loop" [lightDOM]="lightDOM"
        [overflowCellsLimit]="overflowCellsLimit" [freeScroll]="freeScroll" [autoplay]="autoplay"
        [autoplayInterval]="autoplayInterval" [pauseOnHover]="pauseOnHover" [dots]="dots" [margin]="margin"
        [minSwipeDistance]="minSwipeDistance" [transitionDuration]="transitionDuration"
        [transitionTimingFunction]="transitionTimingFunction" [counter]="counter" [counterSeparator]="counterSeparator"
        [borderRadius]="borderRadius" [arrows]="arrows" [arrowsOutside]="arrowsOutside" [arrowsTheme]="arrowsTheme"
        (click)="carouselOnClick($event)"></carousel>
</div>
<!--TODO: 1) When theres no receipt show a message -->